<body style="background-color: #99ccff">

<header >

  <!-- Affichage du bandeau en-tête -->
  <div id="main">
    <div class="row bg-primary text-white headerLayout border-bottom border-dark">
      <div id="titre" class="my-auto col-sm-9">
        <h1 class="policeTitle">DOCTOVID</h1>
      </div>
      <div class="m-auto">
        <button class="btn text-white policeTitle border-left px-4" id="user" [routerLink]="['/info-user']"><i class="fas fa-user mt-1"></i>
          <h6>Se connecter</h6>
        </button>
      </div>
    </div>
  </div>
</header>

<div class="w3-overlay w3-animate-opacity" style="cursor: pointer" id="myOverlay"></div>
<div class ="wallpaper">
<router-outlet></router-outlet>
</div>
</body>
<footer>
  <nav class="navbar navbar-expand-md border-top border-warning p-4 text-white">
    <ul class="navbar-nav text-white m-auto">
      <li class="nav-item border-right border-warning px-5"><a class="nav-link colorLiensFooter">Qui sommes-nous ?</a></li>
      <li class="nav-item border-right border-warning px-5"><a class="nav-link colorLiensFooter">Partenaires</a></li>
      <li class="nav-item px-5"><a class="nav-link colorLiensFooter">Nous contacter</a></li>
    </ul>
  </nav>
</footer>
