<body style="background-color: #ffffff">

<header >

  <!-- Affichage du bandeau en-tête -->
  <div id="main">
    <div class="row bg-primary text-white headerLayout border-bottom border-dark">
      <div id="titre" class="my-auto col-sm-9">
        <h1 class="policeTitle">DOCTOVID</h1>
      </div>
      <div class="m-auto">
        <button class="btn text-white policeTitle border-left px-4" id="user" [routerLink]="['info-user']"><i class="fas fa-user mt-1"></i>
          <h6>Se connecter</h6>
        </button>
      </div>
    </div>
  </div>
</header>

<div class="w3-overlay w3-animate-opacity" style="cursor: pointer" id="myOverlay"></div>
<div class ="container-fluid wallpaper">
  <router-outlet></router-outlet>
</div>
</body>
