<div class="container-fluid">
  <div class="card shadow my-5 mx-auto pr-4 pl-4" style="width: 1000px">
    <div class="card-header bg-white border-bottom border-primary">
      <h3 class="font-weight-bold mb-0 my-3">Informations utilisateur</h3>
    </div>
    <div class="card-body">

      <div class="form-group">
        <label for="nom">Nom:</label> <input type="text"
                                                             class="form-control" id="nom" name="nom"
                                                             style="border-radius: 25px">
      </div>
      <div class="form-group">
        <label for="email">Prénom :</label> <input type="text"
                                                  class="form-control" id="email" name="email"
                                                  style="border-radius: 25px">
      </div>
      <div class="form-group">
        <label for="telephone">Téléphone :</label> <input type="text"
                                                          class="form-control" id="telephone" name="telephone"
                                                          style="border-radius: 25px" >
      </div>
      <div class="form-group">
        <!-- 				<div class="custom-file"> -->
        <!-- 				    <input type="file" class="custom-file-input" id="customFile"> -->
        <!-- 				    <label class="custom-file-label" for="customFile">Choose file</label> -->
        <!-- 				 </div> -->
        <!--        <label for="logo">Ajouter le logo de l'entreprise :</label> <input-->
        <!--        class="btn btn-outline-warning ml-3" type="file" id="logo"-->
        <!--        name="logo">-->
      </div>
    </div>
  </div>
  <div class="card shadow my-5 mx-auto pr-4 pl-4" style="width: 1000px">
    <div class="card-header bg-white border-bottom border-primary">
      <h3 class="font-weight-bold mb-0 my-3">Adresse</h3>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="rue">Rue:</label> <input type="text"
                                             class="form-control" id="rue" name="rue"
                                             style="border-radius: 25px" [(ngModel)]="user.societe.adresse.rue">
      </div>
      <div class="form-group">
        <label for="complement">Complement :</label> <input type="text"
                                                            class="form-control" id="complement" name="complement"
                                                            style="border-radius: 25px">
      </div>
      <div class="form-group">
        <label for="codePostal">Code postal :</label> <input type="text"
                                                             class="form-control" id="codePostal" name="codePostal"
                                                             style="border-radius: 25px" >
      </div>
      <div class="form-group">
        <label for="ville">Ville :</label> <input type="text"
                                                  class="form-control" id="ville" name="ville"
                                                  style="border-radius: 25px">
      </div>
    </div>
  </div>
  <div class="card shadow my-5 mx-auto pr-4 pl-4" style="width: 1000px">
    <div class="card-header bg-white border-bottom border-primary">
      <h3 class="font-weight-bold mb-0 my-3">Informations de
        connexion</h3>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="identifiant">Identifiant :</label> <input type="text" class="form-control" id="identifiant" name="identifiant"
                                                              style="border-radius: 25px">
      </div>
      <div class="form-group">
        <label for="mdp">Mot de Passe :</label>
        <div class="input_container" style="{{displayInput}}">
          <input type="text" class="form-control" id="mdp" name="mdp" style="border-radius: 25px">
          <span class="input_icon">
                        <span class="{{showHideClass}}" (click)="showPassword()" style="cursor:pointer"></span>
                    </span>
          <br/>
        </div>
        <button class="btn btn-outline-primary ml-3" (click)="showInput()" style="{{displayButton}}">Modifier</button>
      </div>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-outline-primary my-3 mx-auto" >
      <i class="fas fa-user-check"></i>
      <p class="m-2 font-weight-bold">Enregistrer les modifications</p>
    </button>
  </div>
</div>
