<div id="header-wrapper">
  <div id="banner" class="container">
    <div class="title">
      <h2>DOCTOVID</h2>
      <span class="byline">L'outil indispensable à la création et	au suivi de vos projets que vous soyez Maitre d'ouvrage, Maitre
					d'Oeuvre ou encore une Entreprise Générale</span>
    </div>
    <ul class="actions">
      <li><a href="#" class="button mr-5" data-toggle="modal" data-target="#connexion">Connexion</a>
        <a href="#" class="button" data-toggle="modal" data-target="#inscription">Inscription</a></li>
    </ul>
  </div>
</div>
<div id="wrapper">
  <div class="container-fluid">

    <div class="row">
      <div class="col" style="text-align: center; font-size: xx-large;">Gérer	des équipes</div>
      <div class="col" style="text-align: center; font-size: xx-large;">Mettre en place vos actions</div>
      <div class="col" style="text-align: center; font-size: xx-large;">Suivre vos budgets</div>
    </div>

    <div class="row">

    </div>

  </div>
</div>
<div id="welcome">
  <div class="container">

  </div>
</div>
